* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
 }

 body {
    /* padding: 100px 100px; */
    background-color: black;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    padding: 40px;
 }

 #web-app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
 }

 .user-card {
    flex-basis: calc(100%/8);
    position: relative;
    flex-grow: 1;
 }


 .name-badge {
    background-color: grey;
    line-height: 24px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
 }

 .tool-bar {
    padding: 20px;
    background-color: #222222 ;
 }